<div class="background">
    <div class="wrapper container">


        <div class="title" *ngIf="currentState =='Wait'">
            <!-- <mat-icon>lock</mat-icon> -->
            <h1>PLEASE WAIT</h1>
            <div class="spinner"><mat-spinner></mat-spinner></div>
        </div>


        <div class="title" *ngIf="currentState =='Not verified'"> 
            <!-- <mat-icon>lock</mat-icon> -->
            <h1>INVALID URL</h1>
        </div>
  
        <div class="title" *ngIf="currentState =='Verified'">
            <!-- <mat-icon>lock</mat-icon> -->
            <h1>PASSWORD RESET</h1>
        </div>

        <mat-progress-bar *ngIf="isSubmitting" mode="indeterminate"></mat-progress-bar>

        <div *ngIf="isSuccess" class="success">
            <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
            <p>You have successfully resetted your password</p>
            <p>Redirecting to login in <strong>{{count}}</strong></p>
        </div>
        
        <form action="" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)" *ngIf="currentState =='Verified' && !isSuccess">
            
                <mat-form-field>
                    <input matInput [type]="hide ? 'text':'password'" id="newPassword"
                        formControlName="newPassword" placeholder="Password" autocomplete="off" required/>
                    <mat-icon matSuffix (click)="hide = !hide">
                        {{ hide ? 'visibility' : 'visibility_off'}}
                    </mat-icon>

                    <mat-error *ngIf="resetPasswordForm.get('newPassword').touched && !resetPasswordForm.get('newPassword').valid && !resetPasswordFormValid"
                        >
                        <mat-error *ngIf="resetPasswordForm.get('newPassword').errors.required">
                            Password is required.
                        </mat-error>
                        <mat-error *ngIf="!resetPasswordForm.get('newPassword').errors.resetPasswordFormValid">
                            Password require at least 8 characters.
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [type]="hide ? 'text':'password'" id="confirmPassword"
                        formControlName="confirmPassword" placeholder="Confirm password" autocomplete="off" required/>
                    <mat-icon matSuffix (click)="hide = !hide">
                        {{ hide ? 'visibility' : 'visibility_off'}}
                    </mat-icon>

                    <mat-error *ngIf="$('confirmPassword').touched && $('confirmPassword').errors"
                        >

                        <!-- <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors.required">
                            Confirm password is required.
                        </mat-error> -->
                        <mat-error *ngIf="$('confirmPassword').touched && $('confirmPassword').errors && $('confirmPassword').errors.mustMatch">
                            Password Mismatch !
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            
                <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>
        </form>


    </div>
</div>
