.mat-form-field {
    width: 100%;
}

.title {
    text-align: center;
}
.title .mat-icon {
    color: rgb(231, 208, 0);
    font-size: 80px;
}
.title h1 {
    color: #797979;
}

.wrapper {
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px 18px 2px #434343;
    max-width: 400px;
}

.background {
    /* overflow: scroll; */
    display: grid;
    width: 100%;
    position: fixed;
    height: 100vh;
    background: url('/assets/stethoscope2.jpg') no-repeat;
    background-size: cover;
}

.full-width {
    width: 100%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.social-buttons {
    padding: 10px;
}

.next-button {
    margin: 0px;
}

.back-button {
    margin: 0px;
    color: #6c6c6c
}

.signup-button {
    margin: 0px;
}

.links {
    padding: 10px;
}


td {
    padding: 0 10px;
}

.success {
    text-align: center;
}

.success .mat-icon{
    font-size: 150px;
    color: #28a745;
    width: 150px;
    height: 150px;
}

.bottom-wrapper {
    padding: 10px;
}

.form-action-buttons {
    margin-top: 20px;
}
