<mat-tab-group>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">access_time</mat-icon>
            Real-time prediction
        </ng-template>

        <form style="text-align: left; padding-top: 20px;" action="" [formGroup]="realtime" (ngSubmit)="realTimePrediction()">

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email_realtime" id="email_realtime"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
            </mat-form-field>

            <button style="margin:5px;align-content: center;" [disabled]="!realtime.valid || clicked" mat-raised-button>Real-time prediction</button>
        </form>

        <br>

        <h2>Status : {{Prediction}}</h2>

        <!-- Time domain -->
        <mat-table [dataSource]="timeDomainDataSource" class="mat-elevation-z8">
            <!-- Feature Column -->
            <ng-container matColumnDef="feature">
                <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Time Domain </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.feature}} </mat-cell>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="timeDomainDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: timeDomainDisplayedColumns;"></mat-row>
        </mat-table>

        <p></p>

        <!-- Frequency domain -->
        <mat-table [dataSource]="frequencyDomainDataSource" class="mat-elevation-z8">
            <!-- Feature Column -->
            <ng-container matColumnDef="feature">
                <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Frequency Domain </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.feature}} </mat-cell>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="frequencyDomainDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: frequencyDomainDisplayedColumns;"></mat-row>
        </mat-table>

        <p></p>

    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">show_chart</mat-icon>
            Simulator
        </ng-template>

        <div class="csv-file-chooser-section" style="padding-top: 20px;">

            <button class="styleClass" style="margin:5px;" onclick="document.getElementById('csvFileUpload').click()"
                mat-raised-button>Upload CSV
                file</button>
            <input type='file' #fileImportInput name="File Upload" id="csvFileUpload"
                (change)="fileChangeListener($event)" accept=".csv" style="display:none">

            <button (click)="predict()" style="margin:5px;" mat-raised-button>Predict</button>

        </div>

        <h2>Status : {{prediction_simulator}}</h2>

        <!-- Time domain -->
        <mat-table [dataSource]="timeDomainDataSource_simulator" class="mat-elevation-z8">
            <!-- Feature Column -->
            <ng-container matColumnDef="feature">
                <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Time Domain </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.feature}} </mat-cell>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="timeDomainDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: timeDomainDisplayedColumns;"></mat-row>
        </mat-table>

        <p></p>

        <!-- Frequency domain -->
        <mat-table [dataSource]="frequencyDomainDataSource_simulator" class="mat-elevation-z8">
            <!-- Feature Column -->
            <ng-container matColumnDef="feature">
                <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Frequency Domain </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.feature}} </mat-cell>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="frequencyDomainDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: frequencyDomainDisplayedColumns;"></mat-row>
        </mat-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">assessment</mat-icon>
            Summary
        </ng-template>
        <div class="row" style="padding-top: 20px;">

            <div class="column" style="width: 50%;">

                <form style="text-align: center;" action="" [formGroup]="summaryForm" (ngSubmit)="getSummary()">

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email"
                            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
                        <!-- <mat-error *ngIf="email.touched && email.errors"> -->
                        <!-- <mat-error *ngIf="email.errors.required">Email is required</mat-error> -->
                        <!-- </mat-error> -->
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Required date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date" id="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <button style="margin:5px;align-content: center;" [disabled]="!summaryForm.valid"
                        mat-raised-button>Summary of
                        the day</button>
                </form>

                <div></div>
                <br>

                <h3>Total device usage time : {{totalTime}}</h3>

                <div></div>
                <br>

                <h3>Stressed time : {{stressedTime}}</h3>

            </div>

            <div class="column" style="width: 50%;">
                <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
                    style="width: 100%; height: 400px; display: block; align-content: center;">
                </highcharts-chart>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>